h1{
  color: #ff0fd3;
}
p{

  font-style: italic;
  font-weight: bold;
  

}

  #first{
;
.font-size: 30px;
line-height:10px;
}

.highlight{
background-color: #baffdf;
}
.like {
  color: #ff0fd3;
}

.dislike
{
  color: #9082ff;
}
